# ======================================================
# Python
# ======================================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ======================================================
# Virtual Environments
# ======================================================

venv/
.venv/
env/
ENV/


# ======================================================
# Environment Variables
# ======================================================

.env
.env.*
*.env

# ======================================================
# Pytest
# ======================================================

.pytest_cache/
.cache/

# Coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov/

# ======================================================
# Playwright
# ======================================================

# HTML report
playwright-report/

# Test artifacts
test-results/
blob-report/

# Browser binaries (only if using local installation)
ms-playwright/

# Screenshots & Videos
*.png
*.webm
*.zip

# ======================================================
# Allure Reports (Optional)
# ======================================================

allure-results/
allure-report/

# ======================================================
# Logs
# ======================================================

logs/
*.log

# ======================================================
# IDEs
# ======================================================

.vscode/
.idea/

# PyCharm
*.iml

# ======================================================
# Type Checkers / Linters
# ======================================================

.mypy_cache/
.pyre/
.ruff_cache/

# ======================================================
# Jupyter Notebook
# ======================================================

.ipynb_checkpoints/

# ======================================================
# OS Files
# ======================================================

.DS_Store
Thumbs.db
desktop.ini

# ======================================================
# Temporary Files
# ======================================================

*.tmp
*.temp
*.bak
*.swp
*.swo